extends ../layout

block content
  h2.display-data Delete Cuestionario?

  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td #{preguntas.codigo}
          td= display(cuestionario.codigo)
        tr
          td #{preguntas.fecha_aplicacion}
          td= display(cuestionario.fecha_aplicacion)
        tr
          td #{preguntas.municipio}
          td= display(cuestionario.municipio_encuesta)
        tr
          td #{preguntas.nombre}
          td= display(cuestionario.nombre)
        tr
          td #{preguntas.apellidos}
          td= display(cuestionario.apellidos)
        tr
          td #{preguntas.cargo}
          td= display(cuestionario.cargo)
        tr
          td #{preguntas.telefono}
          td= display(cuestionario.telefono)
        tr
          td #{preguntas.correo_electronico}
          td= display(cuestionario.correo_electronico)
        tr
          td #{preguntas.nombre_organizacion}
          td= display(cuestionario.nombre_organizacion)
        tr
          td #{preguntas.sigla_organizacion}
          td= display(cuestionario.sigla_organizacion)
        tr
          td #{preguntas.direccion_organizacion}
          td= display(cuestionario.direccion_organizacion)
        tr
          td #{preguntas.municipio}
          td= display(cuestionario.municipio)
        tr
          td #{preguntas.comuna}
          td= display(cuestionario.comuna)
        tr
          td #{preguntas.corregimiento}
          td= display(cuestionario.corregimiento)
        tr
          td #{preguntas.vereda}
          td= display(cuestionario.vereda)
        tr
          td #{preguntas.barrio}
          td= display(cuestionario.barrio)
        tr
          td #{preguntas.telefono_fijo}
          td= display(cuestionario.telefono_fijo)
        tr
          td #{preguntas.celular}
          td= display(cuestionario.celular)
        tr
          td #{preguntas.correo_electronico}
          td= display(cuestionario.correo_electronico)
        tr
          td #{preguntas.tipo_organizacion}
          td= display(cuestionario.tipo_organizacion)
        tr
          td #{preguntas.otra_cual_tipo_organizacion}
          td= display(cuestionario.otra_cual_tipo_organizacion)
        tr
          td #{preguntas.objetivo_organizacion}
          td= display(cuestionario.objetivo_organizacion)
        tr
          td #{preguntas.cobertura_organiza}
          td= display(cuestionario.cobertura_organiza)
        tr
          td #{preguntas.motivo_constitucion}
          td= display(cuestionario.motivo_constitucion)
        tr
          td #{preguntas.fecha_constitucion}
          td= display(cuestionario.fecha_constitucion)
        tr
          td #{preguntas.perso_juridica}
          td= display(cuestionario.perso_juridica)
        tr
          td #{preguntas.num_personeria}
          td= display(cuestionario.num_personeria)
        tr
          td #{preguntas.requisitos_asociados}
          td= display(cuestionario.requisitos_asociados)
        tr
          td #{preguntas.cuales_requisitos}
          td= display(cuestionario.cuales_requisitos)
        tr
          td #{preguntas.cuantos_asociados_inicios}
          td= display(cuestionario.cuantos_asociados_inicios)
        tr
          td #{preguntas.cuantos_asociados_actualmente}
          td= display(cuestionario.cuantos_asociados_actualmente)
        tr
          td #{preguntas.motivo_aumentdismi}
          td= display(cuestionario.motivo_aumentdismi)
        tr
          td #{preguntas.figura_directiva}
          td= display(cuestionario.figura_directiva)
        tr
          td #{preguntas.cual_figu_direc}
          td= display(cuestionario.cual_figu_direc)
        tr
          td #{preguntas.cargo}
          td= display(cuestionario.cargo)
        tr
          td #{preguntas.directivos}
          td= display(cuestionario.directivos)
        tr
          td #{preguntas.genero}
          td= display(cuestionario.genero)
        tr
          td #{preguntas.orient_sexual}
          td= display(cuestionario.orient_sexual)
        tr
          td #{preguntas.edad}
          td= display(cuestionario.edad)
        tr
          td #{preguntas.etnia}
          td= display(cuestionario.etnia)
        tr
          td #{preguntas.remuneracion}
          td= display(cuestionario.remuneracion)
        tr
          td #{preguntas.como_elige_directivos}
          td= display(cuestionario.como_elige_directivos)
        tr
          td #{preguntas.comite_grupo_mesas}
          td= display(cuestionario.comite_grupo_mesas)
        tr
          td #{preguntas.tipo_de_comites}
          td= display(cuestionario.tipo_de_comites)
        tr
          td #{preguntas.otros_cual_comite}
          td= display(cuestionario.otros_cual_comite)
        tr
          td #{preguntas.frecuen_figudirectiva}
          td= display(cuestionario.frecuen_figudirectiva)
        tr
          td #{preguntas.otra_frecuenc}
          td= display(cuestionario.otra_frecuenc)
        tr
          td #{preguntas.frecuencia_reune_directivos_socios}
          td= display(cuestionario.frecuencia_reune_directivos_socios)
        tr
          td #{preguntas.mecanismo_decision}
          td= display(cuestionario.mecanismo_decision)
        tr
          td #{preguntas.otro_cual_mecanism}
          td= display(cuestionario.otro_cual_mecanism)
        tr
          td #{preguntas.quien_decide}
          td= display(cuestionario.quien_decide)
        tr
          td #{preguntas.otro_cual_quien_decide}
          td= display(cuestionario.otro_cual_quien_decide)
        tr
          td #{preguntas.conflictos_entre_integrantes}
          td= display(cuestionario.conflictos_entre_integrantes)
        tr
          td #{preguntas.otros_conflictos}
          td= display(cuestionario.otros_conflictos)
        tr
          td #{preguntas.como_tramitan_conflictos}
          td= display(cuestionario.como_tramitan_conflictos)
        tr
          td #{preguntas.otro_como_tramitan_conflictos}
          td= display(cuestionario.otro_como_tramitan_conflictos)
        tr
          td #{preguntas.registra_diferencial}
          td= display(cuestionario.registra_diferencial)
        tr
          td #{preguntas.otra_cual_diferencial}
          td= display(cuestionario.otra_cual_diferencial)
        tr
          td #{preguntas.como_registra_diferencial}
          td= display(cuestionario.como_registra_diferencial)
        tr
          td #{preguntas.otra_como_registra_diferencial}
          td= display(cuestionario.otra_como_registra_diferencial)
        tr
          td #{preguntas.enfoque_grupos}
          td= display(cuestionario.enfoque_grupos)
        tr
          td #{preguntas.otro_cual_enfoque}
          td= display(cuestionario.otro_cual_enfoque)
        tr
          td #{preguntas.asociados_no_victimas}
          td= display(cuestionario.asociados_no_victimas)
        tr
          td #{preguntas.hechos_victimizantes_asociados}
          td= display(cuestionario.hechos_victimizantes_asociados)
        tr
          td #{preguntas.otros_cuales_hechos_victimizantes}
          td= display(cuestionario.otros_cuales_hechos_victimizantes)
        tr
          td #{preguntas.hechos_victimizantes_mas_frecuentes_1}
          td= display(cuestionario.hechos_victimizantes_mas_frecuentes_1)
        tr
          td #{preguntas.hechos_victimizantes_mas_frecuentes_2}
          td= display(cuestionario.hechos_victimizantes_mas_frecuentes_2)
        tr
          td #{preguntas.hechos_victimizantes_mas_frecuentes_3}
          td= display(cuestionario.hechos_victimizantes_mas_frecuentes_3)
        tr
          td #{preguntas.hechos_victimizantes_mas_frecuentes_4}
          td= display(cuestionario.hechos_victimizantes_mas_frecuentes_4)
        tr
          td #{preguntas.trabajo_por_hvespecifico}
          td= display(cuestionario.trabajo_por_hvespecifico)
        tr
          td #{preguntas.tipos_victimiz_trabajo_por}
          td= display(cuestionario.tipos_victimiz_trabajo_por)
        tr
          td #{preguntas.otro_tipos_victimiz_trabajo_por}
          td= display(cuestionario.otro_tipos_victimiz_trabajo_por)
        tr
          td #{preguntas.org_cuenta_con}
          td= display(cuestionario.org_cuenta_con)
        tr
          td #{preguntas.bienes}
          td= display(cuestionario.bienes)
        tr
          td #{preguntas.lugar_fisico}
          td= display(cuestionario.lugar_fisico)
        tr
          td #{preguntas.relacion_lugar}
          td= display(cuestionario.relacion_lugar)
        tr
          td #{preguntas.quien_financia}
          td= display(cuestionario.quien_financia)
        tr
          td #{preguntas.forma_financia}
          td= display(cuestionario.forma_financia)
        tr
          td #{preguntas.otra_financia}
          td= display(cuestionario.otra_financia)
        tr
          td #{preguntas.recursos_propios_como}
          td= display(cuestionario.recursos_propios_como)
        tr
          td #{preguntas.otros_recursos_propios}
          td= display(cuestionario.otros_recursos_propios)
        tr
          td #{preguntas.tiene_recursos_funcionamiento}
          td= display(cuestionario.tiene_recursos_funcionamiento)
        tr
          td #{preguntas.cuanto_dinero_2013}
          td= display(cuestionario.cuanto_dinero_2013)
        tr
          td #{preguntas.cuanto_dinero_mas}
          td= display(cuestionario.cuanto_dinero_mas)
        tr
          td #{preguntas.dineros_proyectos_2013}
          td= display(cuestionario.dineros_proyectos_2013)
        tr
          td #{preguntas.cuanto_dinero_admin_2013}
          td= display(cuestionario.cuanto_dinero_admin_2013)
        tr
          td #{preguntas.cuanto_dinero_mas_proyecto_2013}
          td= display(cuestionario.cuanto_dinero_mas_proyecto_2013)
        tr
          td #{preguntas.funcion_interno}
          td= display(cuestionario.funcion_interno)
        tr
          td #{preguntas.planeacion_ejecucion}
          td= display(cuestionario.planeacion_ejecucion)
        tr
          td #{preguntas.otro_destino_recursos_planeacion}
          td= display(cuestionario.otro_destino_recursos_planeacion)
        tr
          td #{preguntas.cuales_medios_comunicacion}
          td= display(cuestionario.cuales_medios_comunicacion)
        tr
          td #{preguntas.otro_medios_comunicacion}
          td= display(cuestionario.otro_medios_comunicacion)
        tr
          td #{preguntas.rendicion_cuentas}
          td= display(cuestionario.rendicion_cuentas)
        tr
          td #{preguntas.forma_rendicion_cuentas}
          td= display(cuestionario.forma_rendicion_cuentas)
        tr
          td #{preguntas.frecuencia_rendicion_cuentas}
          td= display(cuestionario.frecuencia_rendicion_cuentas)
        tr
          td #{preguntas.otra_frecuencia_rendicion_cuentas}
          td= display(cuestionario.otra_frecuencia_rendicion_cuentas)
        tr
          td #{preguntas.medios_utiliza_comunicacion_interna}
          td= display(cuestionario.medios_utiliza_comunicacion_interna)
        tr
          td #{preguntas.otros_medios_comunicacion_interna}
          td= display(cuestionario.otros_medios_comunicacion_interna)
        tr
          td #{preguntas.medios_difusion_externos}
          td= display(cuestionario.medios_difusion_externos)
        tr
          td #{preguntas.otro_medios_difusion_externos}
          td= display(cuestionario.otro_medios_difusion_externos)
        tr
          td #{preguntas.mecanismos_recepcion_informacion}
          td= display(cuestionario.mecanismos_recepcion_informacion)
        tr
          td #{preguntas.otros_mecanismos_recepcion_informacion}
          td= display(cuestionario.otros_mecanismos_recepcion_informacion)
        tr
          td #{preguntas.han_recibido_formacion}
          td= display(cuestionario.han_recibido_formacion)
        tr
          td #{preguntas.otra_formacion}
          td= display(cuestionario.otra_formacion)
        tr
          td #{preguntas.se_socializa_conocimiento}
          td= display(cuestionario.se_socializa_conocimiento)
        tr
          td #{preguntas.replica_formacion_a_organizaciones_victimas_cercanas}
          td= display(cuestionario.replica_formacion_a_organizaciones_victimas_cercanas)
        tr
          td #{preguntas.derechos_organizacion_trabaja}
          td= display(cuestionario.derechos_organizacion_trabaja)
        tr
          td #{preguntas.organizacion_orienta_asociados}
          td= display(cuestionario.organizacion_orienta_asociados)
        tr
          td #{preguntas.organizacion_si_orienta_asociados}
          td= display(cuestionario.organizacion_si_orienta_asociados)
        tr
          td #{preguntas.organizacion_estrategias_derechos}
          td= display(cuestionario.organizacion_estrategias_derechos)
        tr
          td #{preguntas.organizacion_circula_informacion}
          td= display(cuestionario.organizacion_circula_informacion)
        tr
          td #{preguntas.organizacion_si_circula_informacion}
          td= display(cuestionario.organizacion_si_circula_informacion)
        tr
          td #{preguntas.otro_organizacion_si_circula_informacion}
          td= display(cuestionario.otro_organizacion_si_circula_informacion)
        tr
          td #{preguntas.organizacion_orienta_ante_estado}
          td= display(cuestionario.organizacion_orienta_ante_estado)
        tr
          td #{preguntas.organizacion_si_orienta_ante_estado}
          td= display(cuestionario.organizacion_si_orienta_ante_estado)
        tr
          td #{preguntas.organizacion_orienta_fiscalia}
          td= display(cuestionario.organizacion_orienta_fiscalia)
        tr
          td #{preguntas.organizacion_orienta_ley1448}
          td= display(cuestionario.organizacion_orienta_ley1448)
        tr
          td #{preguntas.organizacion_orienta_despojo}
          td= display(cuestionario.organizacion_orienta_despojo)
        tr
          td #{preguntas.organizacion_inscrita_otras_orga}
          td= display(cuestionario.organizacion_inscrita_otras_orga)
        tr
          td #{preguntas.organizacion_si_inscrita_otras_orga}
          td= display(cuestionario.organizacion_si_inscrita_otras_orga)
        tr
          td #{preguntas.organizacion_participa_otras_orga}
          td= display(cuestionario.organizacion_participa_otras_orga)
        tr
          td #{preguntas.organizacion_motivacion_otras_orga}
          td= display(cuestionario.organizacion_motivacion_otras_orga)
        tr
          td #{preguntas.organizacion_asiste_otros_espacios_participa}
          td= display(cuestionario.organizacion_asiste_otros_espacios_participa)
        tr
          td #{preguntas.organizacion_si_asiste_otros_espacios_participa}
          td= display(cuestionario.organizacion_si_asiste_otros_espacios_participa)
        tr
          td #{preguntas.organizacion_comite_mmpv}
          td= display(cuestionario.organizacion_comite_mmpv)
        tr
          td #{preguntas.organizacion_grupo_tematico_mmpv}
          td= display(cuestionario.organizacion_grupo_tematico_mmpv)
        tr
          td #{preguntas.organizacion_si_cual_grupo_tematico_mmpv}
          td= display(cuestionario.organizacion_si_cual_grupo_tematico_mmpv)
        tr
          td #{preguntas.organizacion_delegada_ctjt}
          td= display(cuestionario.organizacion_delegada_ctjt)
        tr
          td #{preguntas.organizacion_subcomite_ctjt}
          td= display(cuestionario.organizacion_subcomite_ctjt)
        tr
          td #{preguntas.organizacion_subcomite_ctjt_cuales}
          td= display(cuestionario.organizacion_subcomite_ctjt_cuales)
        tr
          td #{preguntas.organizacion_participa_en}
          td= display(cuestionario.organizacion_participa_en)
        tr
          td #{preguntas.organizacion_dificultades_efectiva_participa}
          td= display(cuestionario.organizacion_dificultades_efectiva_participa)
        tr
          td #{preguntas.organizacion_logra_proyectos_con_munadmon}
          td= display(cuestionario.organizacion_logra_proyectos_con_munadmon)
        tr
          td #{preguntas.organizacion_cuales_propuestas}
          td= display(cuestionario.organizacion_cuales_propuestas)
        tr
          td #{preguntas.organizacion_seguimiento_a_propuestas}
          td= display(cuestionario.organizacion_seguimiento_a_propuestas)
        tr
          td #{preguntas.organizacion_quienes_apoyan}
          td= display(cuestionario.organizacion_quienes_apoyan)
        tr
          td #{preguntas.organizacion_apoyo_en}
          td= display(cuestionario.organizacion_apoyo_en)
        tr
          td #{preguntas.nombre_facilitador}
          td= display(cuestionario.nombre_facilitador)
        tr
          td #{preguntas.institucion_representa_facilitador}
          td= display(cuestionario.institucion_representa_facilitador)
        tr
          td #{preguntas.telefono_facilitador}
          td= display(cuestionario.telefono_facilitador)
        tr
          td #{preguntas.correo_electronico}
          td= display(cuestionario.correo_electronico)
        tr
          td #{preguntas.firma_facilitador}
          td= display(cuestionario.firma_facilitador)
        tr
          td #{preguntas.observaciones}
          td= display(cuestionario.observaciones)

  form#cuestionario-form.form-horizontal(action="/cuestionarios/" + cuestionario._id + "/delete", method="POST")
    .form-actions
      a.btn.btn-warning(href="/cuestionarios") Back
      |
      input.btn.btn-danger(type="submit", value="Delete")
