extends ../layout

block content
  h2.display-data Encuestas
    a.btn.btn-primary.pull-right(href="/cuestionarios/create") Ingresar nueva encuesta

  table.table.table-bordered.table-striped(style="width:100%")
    tr
        th #{preguntas.codigo}
        th #{preguntas.fecha_aplicacion}
        th #{preguntas.municipio_encuesta}
        th #{preguntas.nombre}
        th #{preguntas.apellidos}
        th #{preguntas.cargo}
        th #{preguntas.telefono}
        th #{preguntas.correo_electronico}
        th #{preguntas.nombre_organizacion}
        th #{preguntas.sigla_organizacion}
        th #{preguntas.direccion_organizacion}
        th #{preguntas.municipio}
        th #{preguntas.comuna}
        th #{preguntas.corregimiento}
        th #{preguntas.vereda}
        th #{preguntas.barrio}
        th #{preguntas.telefono_fijo}
        th #{preguntas.celular}
        th #{preguntas.correo_electronico}
        th #{preguntas.tipo_organizacion}
        th #{preguntas.otra_cual_tipo_organizacion}
        th #{preguntas.objetivo_organizacion}
        th #{preguntas.cobertura_organiza}
        th #{preguntas.motivo_constitucion}
        th #{preguntas.fecha_constitucion}
        th #{preguntas.perso_juridica}
        th #{preguntas.num_personeria}
        th #{preguntas.requisitos_asociados}
        th #{preguntas.cuales_requisitos}
        th #{preguntas.cuantos_asociados_inicios}
        th #{preguntas.cuantos_asociados_actualmente}
        th #{preguntas.motivo_aumentdismi}
        th #{preguntas.figura_directiva}
        th #{preguntas.cual_figu_direc}
        th #{preguntas.cargo}
        th #{preguntas.directivos}
        th #{preguntas.genero}
        th #{preguntas.orient_sexual}
        th #{preguntas.edad}
        th #{preguntas.etnia}
        th #{preguntas.remuneracion}
        th #{preguntas.como_elige_directivos}
        th #{preguntas.comite_grupo_mesas}
        th #{preguntas.tipo_de_comites}
        th #{preguntas.otros_cual_comite}
        th #{preguntas.frecuen_figudirectiva}
        th #{preguntas.otra_frecuenc}
        th #{preguntas.frecuencia_reune_directivos_socios}
        th #{preguntas.mecanismo_decision}
        th #{preguntas.otro_cual_mecanism}
        th #{preguntas.quien_decide}
        th #{preguntas.otro_cual_quien_decide}
        th #{preguntas.conflictos_entre_integrantes}
        th #{preguntas.otros_conflictos}
        th #{preguntas.como_tramitan_conflictos}
        th #{preguntas.otro_como_tramitan_conflictos}
        th #{preguntas.registra_diferencial}
        th #{preguntas.otra_cual_diferencial}
        th #{preguntas.como_registra_diferencial}
        th #{preguntas.otra_como_registra_diferencial}
        th #{preguntas.enfoque_grupos}
        th #{preguntas.otro_cual_enfoque}
        th #{preguntas.asociados_no_victimas}
        th #{preguntas.hechos_victimizantes_asociados}
        th #{preguntas.otros_cuales_hechos_victimizantes}
        th #{preguntas.hechos_victimizantes_mas_frecuentes_1}
        th #{preguntas.hechos_victimizantes_mas_frecuentes_2}
        th #{preguntas.hechos_victimizantes_mas_frecuentes_3}
        th #{preguntas.hechos_victimizantes_mas_frecuentes_4}
        th #{preguntas.trabajo_por_hvespecifico}
        th #{preguntas.tipos_victimiz_trabajo_por}
        th #{preguntas.otro_tipos_victimiz_trabajo_por}
        th #{preguntas.org_cuenta_con}
        th #{preguntas.bienes}
        th #{preguntas.lugar_fisico}
        th #{preguntas.relacion_lugar}
        th #{preguntas.quien_financia}
        th #{preguntas.forma_financia}
        th #{preguntas.otra_financia}
        th #{preguntas.recursos_propios_como}
        th #{preguntas.otros_recursos_propios}
        th #{preguntas.tiene_recursos_funcionamiento}
        th #{preguntas.cuanto_dinero_2013}
        th #{preguntas.cuanto_dinero_mas}
        th #{preguntas.dineros_proyectos_2013}
        th #{preguntas.cuanto_dinero_admin_2013}
        th #{preguntas.cuanto_dinero_mas_proyecto_2013}
        th #{preguntas.funcion_interno}
        th #{preguntas.planeacion_ejecucion}
        th #{preguntas.otro_destino_recursos_planeacion}
        th #{preguntas.cuales_medios_comunicacion}
        th #{preguntas.otro_medios_comunicacion}
        th #{preguntas.rendicion_cuentas}
        th #{preguntas.forma_rendicion_cuentas}
        th #{preguntas.frecuencia_rendicion_cuentas}
        th #{preguntas.otra_frecuencia_rendicion_cuentas}
        th #{preguntas.medios_utiliza_comunicacion_interna}
        th #{preguntas.otros_medios_comunicacion_interna}
        th #{preguntas.medios_difusion_externos}
        th #{preguntas.otro_medios_difusion_externos}
        th #{preguntas.mecanismos_recepcion_informacion}
        th #{preguntas.otros_mecanismos_recepcion_informacion}
        th #{preguntas.han_recibido_formacion}
        th #{preguntas.otra_formacion}
        th #{preguntas.se_socializa_conocimiento}
        th #{preguntas.replica_formacion_a_organizaciones_victimas_cercanas}
        th #{preguntas.derechos_organizacion_trabaja}
        th #{preguntas.organizacion_orienta_asociados}
        th #{preguntas.organizacion_si_orienta_asociados}
        th #{preguntas.organizacion_estrategias_derechos}
        th #{preguntas.organizacion_circula_informacion}
        th #{preguntas.organizacion_si_circula_informacion}
        th #{preguntas.otro_organizacion_si_circula_informacion}
        th #{preguntas.organizacion_orienta_ante_estado}
        th #{preguntas.organizacion_si_orienta_ante_estado}
        th #{preguntas.organizacion_orienta_fiscalia}
        th #{preguntas.organizacion_orienta_ley1448}
        th #{preguntas.organizacion_orienta_despojo}
        th #{preguntas.organizacion_inscrita_otras_orga}
        th #{preguntas.organizacion_si_inscrita_otras_orga}
        th #{preguntas.organizacion_participa_otras_orga}
        th #{preguntas.organizacion_motivacion_otras_orga}
        th #{preguntas.organizacion_asiste_otros_espacios_participa}
        th #{preguntas.organizacion_si_asiste_otros_espacios_participa}
        th #{preguntas.organizacion_comite_mmpv}
        th #{preguntas.organizacion_grupo_tematico_mmpv}
        th #{preguntas.organizacion_si_cual_grupo_tematico_mmpv}
        th #{preguntas.organizacion_delegada_ctjt}
        th #{preguntas.organizacion_subcomite_ctjt}
        th #{preguntas.organizacion_subcomite_ctjt_cuales}
        th #{preguntas.organizacion_participa_en}
        th #{preguntas.organizacion_dificultades_efectiva_participa}
        th #{preguntas.organizacion_logra_proyectos_con_munadmon}
        th #{preguntas.organizacion_cuales_propuestas}
        th #{preguntas.organizacion_seguimiento_a_propuestas}
        th #{preguntas.organizacion_quienes_apoyan}
        th #{preguntas.organizacion_apoyo_en}
        th #{preguntas.nombre_facilitador}
        th #{preguntas.institucion_representa_facilitador}
        th #{preguntas.telefono_facilitador}
        th #{preguntas.correo_electronico}
        th #{preguntas.firma_facilitador}
        th #{preguntas.observaciones}
        th.last

    each cuestionario in cuestionarios
      tr
        td= display(cuestionario.codigo)
        td= display(cuestionario.fecha_aplicacion)
        td= display(cuestionario.municipio)
        td= display(cuestionario.nombre)
        td= display(cuestionario.apellidos)
        td= display(cuestionario.cargo)
        td= display(cuestionario.telefono)
        td= display(cuestionario.correo_electronico)
        td= display(cuestionario.nombre_organizacion)
        td= display(cuestionario.sigla_organizacion)
        td= display(cuestionario.direccion_organizacion)
        td= display(cuestionario.municipio)
        td= display(cuestionario.comuna)
        td= display(cuestionario.corregimiento)
        td= display(cuestionario.vereda)
        td= display(cuestionario.barrio)
        td= display(cuestionario.telefono_fijo)
        td= display(cuestionario.celular)
        td= display(cuestionario.correo_electronico)
        td= display(cuestionario.tipo_organizacion)
        td= display(cuestionario.otra_cual_tipo_organizacion)
        td= display(cuestionario.objetivo_organizacion)
        td= display(cuestionario.cobertura_organiza)
        td= display(cuestionario.motivo_constitucion)
        td= display(cuestionario.fecha_constitucion)
        td= display(cuestionario.perso_juridica)
        td= display(cuestionario.num_personeria)
        td= display(cuestionario.requisitos_asociados)
        td= display(cuestionario.cuales_requisitos)
        td= display(cuestionario.cuantos_asociados_inicios)
        td= display(cuestionario.cuantos_asociados_actualmente)
        td= display(cuestionario.motivo_aumentdismi)
        td= display(cuestionario.figura_directiva)
        td= display(cuestionario.cual_figu_direc)
        td= display(cuestionario.cargo)
        td= display(cuestionario.directivos)
        td= display(cuestionario.genero)
        td= display(cuestionario.orient_sexual)
        td= display(cuestionario.edad)
        td= display(cuestionario.etnia)
        td= display(cuestionario.remuneracion)
        td= display(cuestionario.como_elige_directivos)
        td= display(cuestionario.comite_grupo_mesas)
        td= display(cuestionario.tipo_de_comites)
        td= display(cuestionario.otros_cual_comite)
        td= display(cuestionario.frecuen_figudirectiva)
        td= display(cuestionario.otra_frecuenc)
        td= display(cuestionario.frecuencia_reune_directivos_socios)
        td= display(cuestionario.mecanismo_decision)
        td= display(cuestionario.otro_cual_mecanism)
        td= display(cuestionario.quien_decide)
        td= display(cuestionario.otro_cual_quien_decide)
        td= display(cuestionario.conflictos_entre_integrantes)
        td= display(cuestionario.otros_conflictos)
        td= display(cuestionario.como_tramitan_conflictos)
        td= display(cuestionario.otro_como_tramitan_conflictos)
        td= display(cuestionario.registra_diferencial)
        td= display(cuestionario.otra_cual_diferencial)
        td= display(cuestionario.como_registra_diferencial)
        td= display(cuestionario.otra_como_registra_diferencial)
        td= display(cuestionario.enfoque_grupos)
        td= display(cuestionario.otro_cual_enfoque)
        td= display(cuestionario.asociados_no_victimas)
        td= display(cuestionario.hechos_victimizantes_asociados)
        td= display(cuestionario.otros_cuales_hechos_victimizantes)
        td= display(cuestionario.hechos_victimizantes_mas_frecuentes_1)
        td= display(cuestionario.hechos_victimizantes_mas_frecuentes_2)
        td= display(cuestionario.hechos_victimizantes_mas_frecuentes_3)
        td= display(cuestionario.hechos_victimizantes_mas_frecuentes_4)
        td= display(cuestionario.trabajo_por_hvespecifico)
        td= display(cuestionario.tipos_victimiz_trabajo_por)
        td= display(cuestionario.otro_tipos_victimiz_trabajo_por)
        td= display(cuestionario.org_cuenta_con)
        td= display(cuestionario.bienes)
        td= display(cuestionario.lugar_fisico)
        td= display(cuestionario.relacion_lugar)
        td= display(cuestionario.quien_financia)
        td= display(cuestionario.forma_financia)
        td= display(cuestionario.otra_financia)
        td= display(cuestionario.recursos_propios_como)
        td= display(cuestionario.otros_recursos_propios)
        td= display(cuestionario.tiene_recursos_funcionamiento)
        td= display(cuestionario.cuanto_dinero_2013)
        td= display(cuestionario.cuanto_dinero_mas)
        td= display(cuestionario.dineros_proyectos_2013)
        td= display(cuestionario.cuanto_dinero_admin_2013)
        td= display(cuestionario.cuanto_dinero_mas_proyecto_2013)
        td= display(cuestionario.funcion_interno)
        td= display(cuestionario.planeacion_ejecucion)
        td= display(cuestionario.otro_destino_recursos_planeacion)
        td= display(cuestionario.cuales_medios_comunicacion)
        td= display(cuestionario.otro_medios_comunicacion)
        td= display(cuestionario.rendicion_cuentas)
        td= display(cuestionario.forma_rendicion_cuentas)
        td= display(cuestionario.frecuencia_rendicion_cuentas)
        td= display(cuestionario.otra_frecuencia_rendicion_cuentas)
        td= display(cuestionario.medios_utiliza_comunicacion_interna)
        td= display(cuestionario.otros_medios_comunicacion_interna)
        td= display(cuestionario.medios_difusion_externos)
        td= display(cuestionario.otro_medios_difusion_externos)
        td= display(cuestionario.mecanismos_recepcion_informacion)
        td= display(cuestionario.otros_mecanismos_recepcion_informacion)
        td= display(cuestionario.han_recibido_formacion)
        td= display(cuestionario.otra_formacion)
        td= display(cuestionario.se_socializa_conocimiento)
        td= display(cuestionario.replica_formacion_a_organizaciones_victimas_cercanas)
        td= display(cuestionario.derechos_organizacion_trabaja)
        td= display(cuestionario.organizacion_orienta_asociados)
        td= display(cuestionario.organizacion_si_orienta_asociados)
        td= display(cuestionario.organizacion_estrategias_derechos)
        td= display(cuestionario.organizacion_circula_informacion)
        td= display(cuestionario.organizacion_si_circula_informacion)
        td= display(cuestionario.otro_organizacion_si_circula_informacion)
        td= display(cuestionario.organizacion_orienta_ante_estado)
        td= display(cuestionario.organizacion_si_orienta_ante_estado)
        td= display(cuestionario.organizacion_orienta_fiscalia)
        td= display(cuestionario.organizacion_orienta_ley1448)
        td= display(cuestionario.organizacion_orienta_despojo)
        td= display(cuestionario.organizacion_inscrita_otras_orga)
        td= display(cuestionario.organizacion_si_inscrita_otras_orga)
        td= display(cuestionario.organizacion_participa_otras_orga)
        td= display(cuestionario.organizacion_motivacion_otras_orga)
        td= display(cuestionario.organizacion_asiste_otros_espacios_participa)
        td= display(cuestionario.organizacion_si_asiste_otros_espacios_participa)
        td= display(cuestionario.organizacion_comite_mmpv)
        td= display(cuestionario.organizacion_grupo_tematico_mmpv)
        td= display(cuestionario.organizacion_si_cual_grupo_tematico_mmpv)
        td= display(cuestionario.organizacion_delegada_ctjt)
        td= display(cuestionario.organizacion_subcomite_ctjt)
        td= display(cuestionario.organizacion_subcomite_ctjt_cuales)
        td= display(cuestionario.organizacion_participa_en)
        td= display(cuestionario.organizacion_dificultades_efectiva_participa)
        td= display(cuestionario.organizacion_logra_proyectos_con_munadmon)
        td= display(cuestionario.organizacion_cuales_propuestas)
        td= display(cuestionario.organizacion_seguimiento_a_propuestas)
        td= display(cuestionario.organizacion_quienes_apoyan)
        td= display(cuestionario.organizacion_apoyo_en)
        td= display(cuestionario.nombre_facilitador)
        td= display(cuestionario.institucion_representa_facilitador)
        td= display(cuestionario.telefono_facilitador)
        td= display(cuestionario.correo_electronico)
        td= display(cuestionario.firma_facilitador)
        td= display(cuestionario.observaciones)

        td
          a(href="/cuestionarios/" + cuestionario._id + "/detail", title="Detail")
            i.icon-zoom-in
          |
          a(href="/cuestionarios/" + cuestionario._id + "/edit", title="Edit")
            i.icon-edit
          |
          a(href="/cuestionarios/" + cuestionario._id + "/delete", title="Delete")
            i.icon-remove
