extends ../layout

block content
  h2.display-data All Cuestionarios
    a.btn.btn-primary.pull-right(href="/cuestionarios/create") Create a new Cuestionario

  table.table.table-bordered.table-striped(style="width:100%")
    tr
        th Codigo
        th Fecha_aplicacion
        th Municipio
        th Nombre
        th Apellidos
        th Cargo
        th Telefono
        th Correo_electronico
        th Nombre_organizacion
        th Sigla_organizacion
        th Direccion_organizacion
        th Municipio
        th Comuna
        th Corregimiento
        th Vereda
        th Barrio
        th Telefono_fijo
        th Celular
        th Correo_electronico
        th Tipo_organizacion
        th Otra_cual_tipo_organizacion
        th Objetivo_organizacion
        th Cobertura_organiza
        th Motivo_constitucion
        th Fecha_constitucion
        th Perso_juridica
        th Num_personeria
        th Requisitos_asociados
        th Cuales_requisitos
        th Cuantos_asociados_inicios
        th Cuantos_asociados_actualmente
        th Motivo_aumentdismi
        th Figura_directiva
        th Cual_figu_direc
        th Cargo
        th Directivos
        th Genero
        th Orient_sexual
        th Edad
        th Etnia
        th Remuneracion
        th Como_elige_directivos
        th Comite_grupo_mesas
        th Tipo_de_comites
        th Otros_cual_comite
        th Frecuen_figudirectiva
        th Otra_frecuenc
        th Frecuencia_reune_directivos_socios
        th Mecanismo_decision
        th Otro_cual_mecanism
        th Quien_decide
        th Otro_cual_quien_decide
        th Conflictos_entre_integrantes
        th Otros_conflictos
        th Como_tramitan_conflictos
        th Otro_como_tramitan_conflictos
        th Registra_diferencial
        th Otra_cual_diferencial
        th Como_registra_diferencial
        th Otra_como_registra_diferencial
        th Enfoque_grupos
        th Otro_cual_enfoque
        th Asociados_no_victimas
        th Hechos_victimizantes_asociados
        th Otros_cuales_hechos_victimizantes
        th Hechos_victimizantes_mas_frecuentes_1
        th Hechos_victimizantes_mas_frecuentes_2
        th Hechos_victimizantes_mas_frecuentes_3
        th Hechos_victimizantes_mas_frecuentes_4
        th Trabajo_por_hvespecifico
        th Tipos_victimiz_trabajo_por
        th Otro_tipos_victimiz_trabajo_por
        th Org_cuenta_con
        th Bienes
        th Lugar_fisico
        th Relacion_lugar
        th Quien_financia
        th Forma_financia
        th Otra_financia
        th Recursos_propios_como
        th Otros_recursos_propios
        th Tiene_recursos_funcionamiento
        th Cuanto_dinero_2013
        th Cuanto_dinero_mas
        th Dineros_proyectos_2013
        th Cuanto_dinero_admin_2013
        th Cuanto_dinero_mas_proyecto_2013
        th Funcion_interno
        th Planeacion_ejecucion
        th Otro_destino_recursos_planeacion
        th Cuales_medios_comunicacion
        th Otro_medios_comunicacion
        th Rendicion_cuentas
        th Forma_rendicion_cuentas
        th Frecuencia_rendicion_cuentas
        th Otra_frecuencia_rendicion_cuentas
        th Medios_utiliza_comunicacion_interna
        th Otros_medios_comunicacion_interna
        th Medios_difusion_externos
        th Otro_medios_difusion_externos
        th Mecanismos_recepcion_informacion
        th Otros_mecanismos_recepcion_informacion
        th Han_recibido_formacion
        th Otra_formacion
        th Se_socializa_conocimiento
        th Replica_formacion_a_organizaciones_victimas_cercanas
        th Derechos_organizacion_trabaja
        th Organizacion_orienta_asociados
        th Organizacion_si_orienta_asociados
        th Organizacion_estrategias_derechos
        th Organizacion_circula_informacion
        th Organizacion_si_circula_informacion
        th Otro_organizacion_si_circula_informacion
        th Organizacion_orienta_ante_estado
        th Organizacion_si_orienta_ante_estado
        th Organizacion_orienta_fiscalia
        th Organizacion_orienta_ley1448
        th Organizacion_orienta_despojo
        th Organizacion_inscrita_otras_orga
        th Organizacion_si_inscrita_otras_orga
        th Organizacion_participa_otras_orga
        th Organizacion_motivacion_otras_orga
        th Organizacion_asiste_otros_espacios_participa
        th Organizacion_si_asiste_otros_espacios_participa
        th Organizacion_comite_mmpv
        th Organizacion_grupo_tematico_mmpv
        th Organizacion_si_cual_grupo_tematico_mmpv
        th Organizacion_delegada_ctjt
        th Organizacion_subcomite_ctjt
        th Organizacion_subcomite_ctjt_cuales
        th Organizacion_participa_en
        th Organizacion_dificultades_efectiva_participa
        th Organizacion_logra_proyectos_con_munadmon
        th Organizacion_cuales_propuestas
        th Organizacion_seguimiento_a_propuestas
        th Organizacion_quienes_apoyan
        th Organizacion_apoyo_en
        th Nombre_facilitador
        th Institucion_representa_facilitador
        th Telefono_facilitador
        th Correo_electronico
        th Firma_facilitador
        th Observaciones
        th.last

    each cuestionario in cuestionarios
      tr
        td= display(cuestionario.codigo)
        td= display(cuestionario.fecha_aplicacion)
        td= display(cuestionario.municipio)
        td= display(cuestionario.nombre)
        td= display(cuestionario.apellidos)
        td= display(cuestionario.cargo)
        td= display(cuestionario.telefono)
        td= display(cuestionario.correo_electronico)
        td= display(cuestionario.nombre_organizacion)
        td= display(cuestionario.sigla_organizacion)
        td= display(cuestionario.direccion_organizacion)
        td= display(cuestionario.municipio)
        td= display(cuestionario.comuna)
        td= display(cuestionario.corregimiento)
        td= display(cuestionario.vereda)
        td= display(cuestionario.barrio)
        td= display(cuestionario.telefono_fijo)
        td= display(cuestionario.celular)
        td= display(cuestionario.correo_electronico)
        td= display(cuestionario.tipo_organizacion)
        td= display(cuestionario.otra_cual_tipo_organizacion)
        td= display(cuestionario.objetivo_organizacion)
        td= display(cuestionario.cobertura_organiza)
        td= display(cuestionario.motivo_constitucion)
        td= display(cuestionario.fecha_constitucion)
        td= display(cuestionario.perso_juridica)
        td= display(cuestionario.num_personeria)
        td= display(cuestionario.requisitos_asociados)
        td= display(cuestionario.cuales_requisitos)
        td= display(cuestionario.cuantos_asociados_inicios)
        td= display(cuestionario.cuantos_asociados_actualmente)
        td= display(cuestionario.motivo_aumentdismi)
        td= display(cuestionario.figura_directiva)
        td= display(cuestionario.cual_figu_direc)
        td= display(cuestionario.cargo)
        td= display(cuestionario.directivos)
        td= display(cuestionario.genero)
        td= display(cuestionario.orient_sexual)
        td= display(cuestionario.edad)
        td= display(cuestionario.etnia)
        td= display(cuestionario.remuneracion)
        td= display(cuestionario.como_elige_directivos)
        td= display(cuestionario.comite_grupo_mesas)
        td= display(cuestionario.tipo_de_comites)
        td= display(cuestionario.otros_cual_comite)
        td= display(cuestionario.frecuen_figudirectiva)
        td= display(cuestionario.otra_frecuenc)
        td= display(cuestionario.frecuencia_reune_directivos_socios)
        td= display(cuestionario.mecanismo_decision)
        td= display(cuestionario.otro_cual_mecanism)
        td= display(cuestionario.quien_decide)
        td= display(cuestionario.otro_cual_quien_decide)
        td= display(cuestionario.conflictos_entre_integrantes)
        td= display(cuestionario.otros_conflictos)
        td= display(cuestionario.como_tramitan_conflictos)
        td= display(cuestionario.otro_como_tramitan_conflictos)
        td= display(cuestionario.registra_diferencial)
        td= display(cuestionario.otra_cual_diferencial)
        td= display(cuestionario.como_registra_diferencial)
        td= display(cuestionario.otra_como_registra_diferencial)
        td= display(cuestionario.enfoque_grupos)
        td= display(cuestionario.otro_cual_enfoque)
        td= display(cuestionario.asociados_no_victimas)
        td= display(cuestionario.hechos_victimizantes_asociados)
        td= display(cuestionario.otros_cuales_hechos_victimizantes)
        td= display(cuestionario.hechos_victimizantes_mas_frecuentes_1)
        td= display(cuestionario.hechos_victimizantes_mas_frecuentes_2)
        td= display(cuestionario.hechos_victimizantes_mas_frecuentes_3)
        td= display(cuestionario.hechos_victimizantes_mas_frecuentes_4)
        td= display(cuestionario.trabajo_por_hvespecifico)
        td= display(cuestionario.tipos_victimiz_trabajo_por)
        td= display(cuestionario.otro_tipos_victimiz_trabajo_por)
        td= display(cuestionario.org_cuenta_con)
        td= display(cuestionario.bienes)
        td= display(cuestionario.lugar_fisico)
        td= display(cuestionario.relacion_lugar)
        td= display(cuestionario.quien_financia)
        td= display(cuestionario.forma_financia)
        td= display(cuestionario.otra_financia)
        td= display(cuestionario.recursos_propios_como)
        td= display(cuestionario.otros_recursos_propios)
        td= display(cuestionario.tiene_recursos_funcionamiento)
        td= display(cuestionario.cuanto_dinero_2013)
        td= display(cuestionario.cuanto_dinero_mas)
        td= display(cuestionario.dineros_proyectos_2013)
        td= display(cuestionario.cuanto_dinero_admin_2013)
        td= display(cuestionario.cuanto_dinero_mas_proyecto_2013)
        td= display(cuestionario.funcion_interno)
        td= display(cuestionario.planeacion_ejecucion)
        td= display(cuestionario.otro_destino_recursos_planeacion)
        td= display(cuestionario.cuales_medios_comunicacion)
        td= display(cuestionario.otro_medios_comunicacion)
        td= display(cuestionario.rendicion_cuentas)
        td= display(cuestionario.forma_rendicion_cuentas)
        td= display(cuestionario.frecuencia_rendicion_cuentas)
        td= display(cuestionario.otra_frecuencia_rendicion_cuentas)
        td= display(cuestionario.medios_utiliza_comunicacion_interna)
        td= display(cuestionario.otros_medios_comunicacion_interna)
        td= display(cuestionario.medios_difusion_externos)
        td= display(cuestionario.otro_medios_difusion_externos)
        td= display(cuestionario.mecanismos_recepcion_informacion)
        td= display(cuestionario.otros_mecanismos_recepcion_informacion)
        td= display(cuestionario.han_recibido_formacion)
        td= display(cuestionario.otra_formacion)
        td= display(cuestionario.se_socializa_conocimiento)
        td= display(cuestionario.replica_formacion_a_organizaciones_victimas_cercanas)
        td= display(cuestionario.derechos_organizacion_trabaja)
        td= display(cuestionario.organizacion_orienta_asociados)
        td= display(cuestionario.organizacion_si_orienta_asociados)
        td= display(cuestionario.organizacion_estrategias_derechos)
        td= display(cuestionario.organizacion_circula_informacion)
        td= display(cuestionario.organizacion_si_circula_informacion)
        td= display(cuestionario.otro_organizacion_si_circula_informacion)
        td= display(cuestionario.organizacion_orienta_ante_estado)
        td= display(cuestionario.organizacion_si_orienta_ante_estado)
        td= display(cuestionario.organizacion_orienta_fiscalia)
        td= display(cuestionario.organizacion_orienta_ley1448)
        td= display(cuestionario.organizacion_orienta_despojo)
        td= display(cuestionario.organizacion_inscrita_otras_orga)
        td= display(cuestionario.organizacion_si_inscrita_otras_orga)
        td= display(cuestionario.organizacion_participa_otras_orga)
        td= display(cuestionario.organizacion_motivacion_otras_orga)
        td= display(cuestionario.organizacion_asiste_otros_espacios_participa)
        td= display(cuestionario.organizacion_si_asiste_otros_espacios_participa)
        td= display(cuestionario.organizacion_comite_mmpv)
        td= display(cuestionario.organizacion_grupo_tematico_mmpv)
        td= display(cuestionario.organizacion_si_cual_grupo_tematico_mmpv)
        td= display(cuestionario.organizacion_delegada_ctjt)
        td= display(cuestionario.organizacion_subcomite_ctjt)
        td= display(cuestionario.organizacion_subcomite_ctjt_cuales)
        td= display(cuestionario.organizacion_participa_en)
        td= display(cuestionario.organizacion_dificultades_efectiva_participa)
        td= display(cuestionario.organizacion_logra_proyectos_con_munadmon)
        td= display(cuestionario.organizacion_cuales_propuestas)
        td= display(cuestionario.organizacion_seguimiento_a_propuestas)
        td= display(cuestionario.organizacion_quienes_apoyan)
        td= display(cuestionario.organizacion_apoyo_en)
        td= display(cuestionario.nombre_facilitador)
        td= display(cuestionario.institucion_representa_facilitador)
        td= display(cuestionario.telefono_facilitador)
        td= display(cuestionario.correo_electronico)
        td= display(cuestionario.firma_facilitador)
        td= display(cuestionario.observaciones)

        td
          a(href="/cuestionarios/" + cuestionario._id + "/detail", title="Detail")
            i.icon-zoom-in
          | 
          a(href="/cuestionarios/" + cuestionario._id + "/edit", title="Edit")
            i.icon-edit
          | 
          a(href="/cuestionarios/" + cuestionario._id + "/delete", title="Delete")
            i.icon-remove