extends ../../layout

block content
  h2.display-data All Quienrespondes
    //a.btn.btn-primary.pull-right(href="/cuestionario/quienrespondes/create") Create a new Quienresponde

  table.table.table-bordered.table-striped(style="width:100%")
    tr
        th Nombre
        th Apellidos
        th Cargo
        th Telefono
        th Correo_electronico
        th Cuestionario_id
        th.last

    each quienresponde in quienrespondes
      tr
        td= display(quienresponde.nombre)
        td= display(quienresponde.apellidos)
        td= display(quienresponde.cargo)
        td= display(quienresponde.telefono)
        td= display(quienresponde.correo_electronico)
        td= display(quienresponde.cuestionario_id)

        td
          a(href="/cuestionario/quienrespondes/" + quienresponde._id + "/detail", title="Detail")
            i.icon-zoom-in
          |
          a(href="/cuestionario/quienrespondes/" + quienresponde._id + "/edit", title="Edit")
            i.icon-edit
          |
          a(href="/cuestionario/quienrespondes/" + quienresponde._id + "/delete", title="Delete")
            i.icon-remove
